body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
main {
  padding: 20px;
  text-align: center;
}
.member {
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px;
}
.leader {
  text-align: center;
  margin-top: 40px;
}

.leader-profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #444;
  margin-bottom: 15px;
}
